:root {
  --main-font: 'Inter';
  --accent-font: 'Press Start 2P';
  --button-color: white;
  --text-weight: 410;
  --title-weight: 715;
  --page-background:
  repeating-linear-gradient(to right,  #d3d3d3 0 2px,  transparent 2px 4px),
  repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --container-inline-size: clamp(375px, 100vw, 700px);
  --shadow: white;
  --heart-countour-color: black;
  --animation-fill-color: #FF0000;
}